<form id="myForm" action="/" method="post">
    {%  "FormInput" with name: 'title', id: 'title', label: 'Title' %}
    <div class="mb-4">
        <label for="slug" class="block text-gray-700 font-bold mb-2">Slug:</label>
        <input type="text" name="slug" id="slug" value="{{value.slug}}"
            class="w-full px-3 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="description" class="block text-gray-700 font-bold mb-2">Description:</label>
        <textarea name="description" id="description"
            class="w-full px-3 py-2 border rounded-md text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{value.description}}</textarea>
    </div>
    <div class="mb-4">
        
        <button class="w-full px-3 py-2.5 text-sm border bg-blue-500 rounded-md text-white leading-tight focus:outline-none focus:shadow-outline">Submit</button>
        
    </div>
</form>

{{ value | json }}
{% block script %}
<script>

    onMount(({api}) => {
        myForm.onsubmit = async (e) => {
            e.preventDefault()
            const value = {
                description: description.value,
                slug: slug.value,
                title: title.value,
            }

            await api('/api/test2').post(value)

            console.log('submitted')

            location.reload()
        }
    })

</script>
{% endblock %}

<script server>
    async function load({api}) {
        return {
            value: api('/api/test').post({})
        }
    }
</script>