<div>
    @namedSlotTest({a: ds, b: 123}) 
            
        Default 
        @slot("one") 
            ONE 
        @endslot 
        @slot("two") 
            TWO 
        @endslot 
    @end
</div>