<div class="container mx-auto p-4">
    <table class="min-w-full divide-y divide-gray-600">
        @include('TableHead', {})
            @for(field in fields)
                @include('TableCell', {head: true})
                    {field.name}
                @endinclude
            @endfor
        @endinclude
        @include('TableBody', {})
            @for(row in rows)
            @include('TableRow', {})
                @for(field in fields)
                    @include('TableCell', {})
                        {row[field.key]}
                    @endinclude
                @endfor
            @endinclude
            @endfor
        @endinclude
    </table>
</div>
